HotelClient/web/WEB-INF/wsdl/localhost_8084/HotelServer/Hotel.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.hotel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.hotel.com/" name="Hotel">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.hotel.com/" schemaLocation="http://localhost:8084/HotelServer/Hotel?xsd=1" />
</xsd:schema>
</types>
<message name="GetHotelRoomsAvailability">
<part name="parameters" element="tns:GetHotelRoomsAvailability" />
</message>
<message name="GetHotelRoomsAvailabilityResponse">
<part name="parameters" element="tns:GetHotelRoomsAvailabilityResponse" />
</message>
<message name="GetEmployeeCategoryWithId">
<part name="parameters" element="tns:GetEmployeeCategoryWithId" />
</message>
<message name="GetEmployeeCategoryWithIdResponse">
<part name="parameters" element="tns:GetEmployeeCategoryWithIdResponse" />
</message>
<message name="getRoomsOrders">
<part name="parameters" element="tns:getRoomsOrders" />
</message>
<message name="getRoomsOrdersResponse">
<part name="parameters" element="tns:getRoomsOrdersResponse" />
</message>
<message name="AddHotel">
<part name="parameters" element="tns:AddHotel" />
</message>
<message name="AddHotelResponse">
<part name="parameters" element="tns:AddHotelResponse" />
</message>
<message name="GetAllHotels">
<part name="parameters" element="tns:GetAllHotels" />
</message>
<message name="GetAllHotelsResponse">
<part name="parameters" element="tns:GetAllHotelsResponse" />
</message>
<message name="GetHotelsWithId">
<part name="parameters" element="tns:GetHotelsWithId" />
</message>
<message name="GetHotelsWithIdResponse">
<part name="parameters" element="tns:GetHotelsWithIdResponse" />
</message>
<message name="CustomerLogin">
<part name="parameters" element="tns:CustomerLogin" />
</message>
<message name="CustomerLoginResponse">
<part name="parameters" element="tns:CustomerLoginResponse" />
</message>
<message name="AddNewCustomer">
<part name="parameters" element="tns:AddNewCustomer" />
</message>
<message name="AddNewCustomerResponse">
<part name="parameters" element="tns:AddNewCustomerResponse" />
</message>
<message name="BooksRooms">
<part name="parameters" element="tns:BooksRooms" />
</message>
<message name="BooksRoomsResponse">
<part name="parameters" element="tns:BooksRoomsResponse" />
</message>
<message name="GetHotelDetails">
<part name="parameters" element="tns:GetHotelDetails" />
</message>
<message name="GetHotelDetailsResponse">
<part name="parameters" element="tns:GetHotelDetailsResponse" />
</message>
<message name="AddEmployee">
<part name="parameters" element="tns:AddEmployee" />
</message>
<message name="AddEmployeeResponse">
<part name="parameters" element="tns:AddEmployeeResponse" />
</message>
<message name="Login">
<part name="parameters" element="tns:Login" />
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse" />
</message>
<message name="GetEmployees">
<part name="parameters" element="tns:GetEmployees" />
</message>
<message name="GetEmployeesResponse">
<part name="parameters" element="tns:GetEmployeesResponse" />
</message>
<portType name="Hotel">
<operation name="GetHotelRoomsAvailability">
<input wsam:Action="http://webService.hotel.com/Hotel/GetHotelRoomsAvailabilityRequest" message="tns:GetHotelRoomsAvailability" />
<output wsam:Action="http://webService.hotel.com/Hotel/GetHotelRoomsAvailabilityResponse" message="tns:GetHotelRoomsAvailabilityResponse" />
</operation>
<operation name="GetEmployeeCategoryWithId">
<input wsam:Action="http://webService.hotel.com/Hotel/GetEmployeeCategoryWithIdRequest" message="tns:GetEmployeeCategoryWithId" />
<output wsam:Action="http://webService.hotel.com/Hotel/GetEmployeeCategoryWithIdResponse" message="tns:GetEmployeeCategoryWithIdResponse" />
</operation>
<operation name="getRoomsOrders">
<input wsam:Action="http://webService.hotel.com/Hotel/getRoomsOrdersRequest" message="tns:getRoomsOrders" />
<output wsam:Action="http://webService.hotel.com/Hotel/getRoomsOrdersResponse" message="tns:getRoomsOrdersResponse" />
</operation>
<operation name="AddHotel">
<input wsam:Action="http://webService.hotel.com/Hotel/AddHotelRequest" message="tns:AddHotel" />
<output wsam:Action="http://webService.hotel.com/Hotel/AddHotelResponse" message="tns:AddHotelResponse" />
</operation>
<operation name="GetAllHotels">
<input wsam:Action="http://webService.hotel.com/Hotel/GetAllHotelsRequest" message="tns:GetAllHotels" />
<output wsam:Action="http://webService.hotel.com/Hotel/GetAllHotelsResponse" message="tns:GetAllHotelsResponse" />
</operation>
<operation name="GetHotelsWithId">
<input wsam:Action="http://webService.hotel.com/Hotel/GetHotelsWithIdRequest" message="tns:GetHotelsWithId" />
<output wsam:Action="http://webService.hotel.com/Hotel/GetHotelsWithIdResponse" message="tns:GetHotelsWithIdResponse" />
</operation>
<operation name="CustomerLogin">
<input wsam:Action="http://webService.hotel.com/Hotel/CustomerLoginRequest" message="tns:CustomerLogin" />
<output wsam:Action="http://webService.hotel.com/Hotel/CustomerLoginResponse" message="tns:CustomerLoginResponse" />
</operation>
<operation name="AddNewCustomer">
<input wsam:Action="http://webService.hotel.com/Hotel/AddNewCustomerRequest" message="tns:AddNewCustomer" />
<output wsam:Action="http://webService.hotel.com/Hotel/AddNewCustomerResponse" message="tns:AddNewCustomerResponse" />
</operation>
<operation name="BooksRooms">
<input wsam:Action="http://webService.hotel.com/Hotel/BooksRoomsRequest" message="tns:BooksRooms" />
<output wsam:Action="http://webService.hotel.com/Hotel/BooksRoomsResponse" message="tns:BooksRoomsResponse" />
</operation>
<operation name="GetHotelDetails">
<input wsam:Action="http://webService.hotel.com/Hotel/GetHotelDetailsRequest" message="tns:GetHotelDetails" />
<output wsam:Action="http://webService.hotel.com/Hotel/GetHotelDetailsResponse" message="tns:GetHotelDetailsResponse" />
</operation>
<operation name="AddEmployee">
<input wsam:Action="http://webService.hotel.com/Hotel/AddEmployeeRequest" message="tns:AddEmployee" />
<output wsam:Action="http://webService.hotel.com/Hotel/AddEmployeeResponse" message="tns:AddEmployeeResponse" />
</operation>
<operation name="Login">
<input wsam:Action="http://webService.hotel.com/Hotel/LoginRequest" message="tns:Login" />
<output wsam:Action="http://webService.hotel.com/Hotel/LoginResponse" message="tns:LoginResponse" />
</operation>
<operation name="GetEmployees">
<input wsam:Action="http://webService.hotel.com/Hotel/GetEmployeesRequest" message="tns:GetEmployees" />
<output wsam:Action="http://webService.hotel.com/Hotel/GetEmployeesResponse" message="tns:GetEmployeesResponse" />
</operation>
</portType>
<binding name="HotelPortBinding" type="tns:Hotel">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="GetHotelRoomsAvailability">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetEmployeeCategoryWithId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRoomsOrders">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AddHotel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetAllHotels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetHotelsWithId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CustomerLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AddNewCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BooksRooms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetHotelDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AddEmployee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetEmployees">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Hotel">
<port name="HotelPort" binding="tns:HotelPortBinding">
<soap:address location="http://localhost:8084/HotelServer/Hotel" />
</port>
</service>
</definitions>